(geometry-node
  (name "Cube")
  (object-ref $geometry1)
  (material-ref $material1))

(geometry-object $geometry1
  (mesh {primitive "triangles"}
    (vertex-array {attrib "position"}
      ([0 0.5] [-0.5 -0.5] [0.5 -0.5]))))

(material $material1
  (name "Green")
  (color {attrib "diffuse" [0 1 0]}))
